.postdetails {
  width: 800px;
  margin: auto;
  padding: 20px;
  &__infocomment {
    font-size: 16px;
    color: var(--gray-color);
  }
  &__imagewrapper {
    // height: 400px;
    margin-bottom: 30px;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__updatepostlabel {
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    color: var(--blue-color);
    &-icon {
      margin-right: 3px;
      font-size: 21px;
    }
  }
  &__updateimageform button {
    margin-left: 10px;
    background-color: var(--yellow-color);
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    padding: 2px 5px;
    border: 1px solid var(--yellow-color);
  }
  &__title {
    text-align: center;
    font-size: 30px;
    color: #111111;
    margin: 10px 0;
  }
  &__userinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  &__userimage {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__user {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    & strong {
      font-size: 21px;
      color: #111111;
    }
    & span {
      font-weight: 500;
      font-size: 14px;
      color: var(--blue-color);
    }
  }
  &__usr {
    color: #111111;
  }
  &__description {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #111111;
    & ul, ol {
      padding-left: 3rem;
    }
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  &__iconwrapper {
    margin: 15px 0;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-color);
    &-item {
      display: flex;
      align-items: center;
      & i {
        cursor: pointer;
      }
    }
  }
  &__icons {
    cursor: pointer;
  }
  &__iconedit {
    color: #111111;
  }
}

@media screen and (max-width: 820px) {
  .postdetails {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .postdetails {
    padding: 15px;
    width: 100%;
    &__image {
      object-fit: cover;
    }
    &__title {
      font-size: 20px;
      color: #111111;
    }
  }
}
