.sidebar {
  flex: 3;
  margin-left: 20px;
}

.sidebar__title {
  color: var(--primary-color);
  text-align: center;
  padding: 5px;
  font-size: 24px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.sidebar__links {
  padding: 10px;
}

.sidebar__link {
  margin: 15px 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  background-color: #aaa8a8;
  text-align: center;
  position: relative;
  text-transform: capitalize;
  padding: 5px;
  display: block;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
}

.sidebar__link:hover {
  background-color: var(--pumpkin-color);
  color: var(--white-color);
}

.sidebar__link::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white-color);
}

@media screen and (max-width: 990px) {
  .sidebar {
    margin-left: 0;
    width: 100%;
  }
  .sidebar__link::after {
    left: 30px;
  }
}

@media screen and (max-width: 520px) {
  .sidebar__link::after {
    left: 20px;
  }
}
