
// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #397ADE;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
  --yellow-color:  #F1CF71;
  --bg-color: #f9f8f4;
  --transition: all 0.4s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  // font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  /* text-decoration: none;
  list-style-type: none; */
}

body {
  overflow-x: hidden;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  // list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
}
