.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  list-style-type: none;
  &__page {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #111111;
    cursor: pointer;
    &.active {
      background-color: var(--yellow-color);
    }
  }
  &__prev,
  &__next {
    width: max-content;
    padding: 0 7px;
  }
  &__prev {
    border-radius: 10px 0 0 10px;
  }
  &__next {
    border-radius: 0 10px 10px 0;
  }
}

.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 700px) {
  .pagination{
    width: 100%;
    &__page {
      width: 40px;
      height: 40px;
      font-size: 15px;
      font-weight: 700;
  }
  &__prev,
  &__next {
    width: 100%;
  }
}}